.text:hover {
    color: orange
}

.info:hover {
    background-color: rgb(216, 233, 227);

}

.design {
    border-radius: 50px;
    background: #b98888;
    box-shadow: inset 35px -35px 70px #9d7474,
        inset -35px 35px 70px #d59c9c;
}